.day,
.day_week,
.moon_day_no{
    display: inline-block;
    width: 50px;
    text-align: center;
    vertical-align: top;
}

.day_more{
    display: inline-block;
    width: 20px;
    padding-top: 2px;
    font-size: 16px;
    text-align: center;
    color: #397bff;
    cursor: pointer;
}

.morning_hural,
.day_hural{
    display: inline-block;
    width: 150px;
    text-align: center;
    vertical-align: top;
}

.line_flags {
    margin-top: 8px;
}

.line_flags span{
    font-size: 16px;
}

@media  (max-width: 576px) {
    .list_header{
        font-size: 12px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .list_line{
        font-size: 12px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .morning_hural,
    .day_hural{
        width: 91px;
    }

    .list_line select{
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
    }

}